* {
  box-sizing: border-box;
}

.article-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: hsl(60, 14%, 93%);

  --shadow-border-light: 0px 0px 5px hsla(0, 0%, 0%, 0.1),
    0px 0px 4px hsla(0, 0%, 0%, 0.07), 0px 0px 10px hsla(0, 0%, 0%, 0.07);
  --shadow-border-card: 0px 0px 6px hsla(0, 0%, 0%, 0.07);
  --shadow-border-large: 0 8px 24px hsla(212, 9%, 59%, 0.2);
  --ease-cubic-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --border-radius: 5px;
  --container-h-padding: 12px;
  --container-v-padding: 10px;
  --border-radius: 6px;
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1em;
  height: 1em;
  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    stroke: currentColor;
    width: 100%;
    height: 100%;
  }
}

.logo-container {
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: 800;
  font-size: 60px;
  color: var(--gray-300);

  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
}

.top-region {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  height: min(900px, calc(100vh - 100px));
}

.top-content {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  max-width: min(1300px, calc(100vw - 200px));

  display: grid;
  grid-template-columns: min-content minmax(0px, auto);
  grid-template-rows: min-content minmax(0px, auto);
}

.header-content {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: flex;
  flex-flow: row;
  align-items: last baseline;
  gap: 8px;

  font-size: 28px;
  line-height: 1;
  margin-bottom: 8px;

  .name {
    display: flex;
    flex-flow: row;
    font-size: 32px;
    align-items: center;
    gap: 5px;
    font-weight: 800;
  }
}

.middle-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;

  &:has(.lite-wrapper[is-hidden]) {
    .promptpad-wrapper {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }

  border-radius: var(--border-radius);
  box-shadow: 0px 0px 2px hsla(0, 0%, 0%, 0.06),
    0px 0px 10px hsla(0, 0%, 0%, 0.05), 0px 0px 10px hsla(0, 0%, 0%, 0.02);
}

.left-content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  flex: 1 1 auto;
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  top: 50px;
}

.content-wrapper {
  padding-right: 20px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 10px;
  white-space: nowrap;

  .title {
    font-weight: 700;
  }
}

.example-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & button {
    all: unset;
    font-size: 14px;
    padding: 2px 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--gray-100);
    }

    &:active {
      background-color: color-mix(in lab, var(--teal-100), hsla(0, 0%, 80%));
    }
  }
}

.right-content {
  flex: 1 1 auto;
}

.promptpad-wrapper {
  position: relative;
  height: 100%;

  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  /* border: 1px solid var(--gray-300); */
  border-right: 1px solid var(--gray-300);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  overflow: hidden;

  promptpad-container {
    width: 100%;
    height: 100%;
  }
}

.lite-wrapper {
  display: flex;
  position: relative;
  height: 100%;
  flex: 0 1 360px;
  min-width: 250px;
  /* border: 1px solid var(--gray-300); */
  border-left: none;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  overflow: hidden;
  z-index: 10;
  box-sizing: border-box;

  &[is-hidden] {
    opacity: 0;
    pointer-events: none;
    width: 0px;
    min-width: unset;
    flex: unset;
  }
}

farsight-container-signal {
  position: absolute;
  top: 70px;
  right: 22px;
}

farsight-container-lite {
  width: 100%;
  height: 100%;
}

#farsight-dialog[open] {
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0;
  pointer-events: all;
  box-shadow: 0px 0px 10px 1px hsla(0, 0%, 0%, 0.1);
  background-color: white;

  width: 90%;
  height: 90%;

  &::backdrop {
    background-color: hsla(0, 0%, 0%, 0.1);
    animation: fade-in 300ms;
  }
}

.farsight-wrapper {
  width: 100%;
  height: 100%;
}

farsight-container {
  width: 100%;
  height: 100%;
}
