* {
  box-sizing: border-box;
}

.article-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;

  --shadow-border-light: 0px 0px 5px hsla(0, 0%, 0%, 0.1),
    0px 0px 4px hsla(0, 0%, 0%, 0.07), 0px 0px 10px hsla(0, 0%, 0%, 0.07);
  --shadow-border-card: 0px 0px 6px hsla(0, 0%, 0%, 0.07);
  --shadow-border-large: 0 8px 24px hsla(212, 9%, 59%, 0.2);
  --ease-cubic-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --container-h-padding: 12px;
  --container-v-padding: 10px;
  --border-radius: 6px;
}

.svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1em;
  height: 1em;
  color: currentColor;
  transition: transform 80ms linear;
  transform-origin: center;

  & svg {
    fill: currentColor;
    stroke: currentColor;
    width: 100%;
    height: 100%;
  }
}

.logo-container {
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: 800;
  font-size: 60px;
  color: var(--gray-300);

  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
}

.top-region {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: hsl(60, 14%, 93%);

  width: 100%;
  height: 100%;

  height: min(900px, calc(100vh - 40px));
  /* height: 100vh; */
}

.top-content {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-columns: minmax(30px, 1fr) min-content minmax(0px, 1100px) minmax(
      30px,
      1fr
    );
  grid-template-rows: minmax(10px, 1fr) min-content minmax(300px, 720px) minmax(
      30px,
      1fr
    );

  /* grid-template-columns: minmax(10px, 1fr) min-content minmax(0px, 1100px) minmax(
      10px,
      1fr
    );
  grid-template-rows: minmax(10px, 1fr) min-content minmax(300px, 720px) minmax(
      10px,
      1fr
    ); */
}

.top-filler {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.bottom-filler {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
}

.header-content {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  display: flex;
  flex-flow: row;
  align-items: last baseline;
  gap: 8px;
  cursor: default;

  line-height: 1;
  margin-bottom: 5px;
  container-type: inline-size;
  /* display: none; */

  .name {
    display: flex;
    flex-flow: row;
    font-size: 32px;
    align-items: center;
    gap: 5px;
    font-weight: 800;
    font-variant: small-caps;

    .svg-icon {
      width: 1.2em;
      height: 1.2em;
    }
  }

  .tag-line {
    font-size: 26px;
    @container (max-width: 810px) {
      display: none;
    }
  }
}

.middle-content {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: flex;
  flex-flow: row;
  height: 100%;
  width: 100%;

  &:has(.lite-wrapper[is-hidden]) {
    .promptpad-wrapper {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }

  border-radius: var(--border-radius);
  box-shadow: 0px 0px 2px hsla(0, 0%, 0%, 0.06),
    0px 0px 10px hsla(0, 0%, 0%, 0.05), 0px 0px 10px hsla(0, 0%, 0%, 0.02);

  /* border: 1px solid var(--gray-300); */
}

.left-content {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  position: relative;
  flex: 1 1 auto;
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  top: 50px;
  gap: 30px;
  /* display: none; */
}

.content-wrapper {
  padding-right: 20px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 10px;
  white-space: nowrap;

  .title {
    font-weight: 700;
  }

  &.link-wrapper {
    gap: 10px;
  }
}

.example-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & button,
  .example-button {
    all: unset;
    font-size: 14px;
    padding: 1px 9px;
    background-color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--gray-50);
    }

    &[is-active] {
      border: 1px solid var(--gray-600);
    }
  }
}

.link-container.example-button {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 5px;
  color: var(--gray-800);
}

.right-content {
  flex: 1 1 auto;
}

.promptpad-wrapper {
  position: relative;
  height: 100%;
  width: 820px;
  min-width: 220px;

  display: flex;
  flex-flow: row;
  flex: 1 1 auto;
  /* border: 1px solid var(--gray-300); */
  border-right: 1px solid var(--gray-300);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  overflow: hidden;

  promptpad-container {
    width: 100%;
    height: 100%;
  }
}

.lite-wrapper {
  display: flex;
  position: relative;
  height: 100%;
  flex: 0 1 360px;
  min-width: 250px;
  /* border: 1px solid var(--gray-300); */
  border-left: none;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  z-index: 10;
  box-sizing: border-box;

  &[is-hidden] {
    opacity: 0;
    pointer-events: none;
    width: 0px;
    min-width: unset;
    flex: unset;
  }
}

farsight-container-signal {
  position: absolute;
  top: 70px;
  right: 22px;
}

farsight-container-lite {
  width: 100%;
  height: 100%;
}

#farsight-dialog[open] {
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0;
  pointer-events: all;
  box-shadow: 0px 0px 10px 1px hsla(0, 0%, 0%, 0.1);
  background-color: white;

  width: 90%;
  height: 90%;

  &::backdrop {
    background-color: hsla(0, 0%, 0%, 0.1);
    animation: fade-in 300ms;
  }
}

.farsight-wrapper {
  width: 100%;
  height: 100%;
}

farsight-container {
  width: 100%;
  height: 100%;
}

farsight-article {
  width: 100%;
}
